@import "../../utils/functions.scss";
@import "../../utils/variables.scss";
@import "../../utils/breakpoints.scss";

.home {
  padding-top: $pagePaddingTop;
}

.artistList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
