@import "utils/breakpoints.scss";
@import "utils/functions.scss";
@import "utils/variables.scss";

.app {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;

  &:hover,
  &:focus {
    color: $blue;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
  border: 2px solid $blue;
  border-radius: rem(8);
}
